<form class="" action="/login" method="post">
  <label for="">Username:</label>
  <input type="text" name="username" value=""><br>
  <label for="">Email:</label>
  <input type="text" name="email" value=""><br>
  <label for="">Password:</label>
  <input type="text" name="password" value="">

  <input type="submit" name="" value="Log In">
</form>
